In [ ]:
import numpy as np
from sklearn.linear_model import LinearRegression
import pandas as pd

In [ ]:
model = LinearRegression()

In [ ]:
df = pd.read_csv('Factors.csv')

In [ ]:
df

,Unnamed: 0,year,state,rate,White,Black or African American,median_income,% educated,modified_wage
0,0,2020,Florida,28.4,71.6,15.9,60460.0,28.462948,8.959706
1,1,2020,West Virginia,39.1,92.5,3.6,54396.0,19.938580,9.158578
2,2,2020,Kentucky,36.6,86.2,8.1,59405.0,23.130746,7.588536
3,3,2020,Alabama,39.0,67.5,26.6,57243.0,24.034372,7.588536
4,4,2020,Oklahoma,36.4,71.1,7.3,54921.0,23.810112,7.588536
...,...,...,...,...,...,...,...,...,...
453,453,2012,California,25.0,62.1,6.0,67410.0,27.827606,9.457778
454,454,2012,Massachusetts,22.9,80.1,7.1,75256.0,36.084897,9.457778
455,455,2012,Colorado,20.5,84.4,4.2,67688.0,34.008391,9.032178
456,456,2012,Hawaii,23.6,24.9,1.8,66515.0,27.405907,8.571111
457,457,2012,District of Columbia,21.9,39.6,49.5,77135.0,48.409591,9.753333

In [ ]:
df.dtypes

Unnamed: 0                     int64
year                           int64
state                         object
rate                         float64
White                        float64
Black or African American    float64
median_income                float64
% educated                   float64
modified_wage                float64
dtype: object

In [ ]:
df1 = df.copy()

In [ ]:
Y = df1['rate']

In [ ]:
df1.drop('rate', inplace = True, axis = 1)
df1.drop('state', inplace = True, axis = 1)
df1.drop('Unnamed: 0', inplace = True, axis = 1)

In [ ]:
df1['median_income'] = df1['median_income']/1000

In [ ]:
X = df1

In [ ]:
X

,year,White,Black or African American,median_income,% educated,modified_wage
0,2020,71.6,15.9,60.460,28.462948,8.959706
1,2020,92.5,3.6,54.396,19.938580,9.158578
2,2020,86.2,8.1,59.405,23.130746,7.588536
3,2020,67.5,26.6,57.243,24.034372,7.588536
4,2020,71.1,7.3,54.921,23.810112,7.588536
...,...,...,...,...,...,...
453,2012,62.1,6.0,67.410,27.827606,9.457778
454,2012,80.1,7.1,75.256,36.084897,9.457778
455,2012,84.4,4.2,67.688,34.008391,9.032178
456,2012,24.9,1.8,66.515,27.405907,8.571111
457,2012,39.6,49.5,77.135,48.409591,9.753333

In [ ]:
import statsmodels.api as sm

In [ ]:
X = sm.add_constant(X)

In [ ]:
model = sm.OLS(Y, X).fit()

In [ ]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   rate   R-squared:                       0.617
Model:                            OLS   Adj. R-squared:                  0.612
Method:                 Least Squares   F-statistic:                     121.0
Date:                Sat, 03 Dec 2022   Prob (F-statistic):           1.07e-90
Time:                        18:15:49   Log-Likelihood:                -1058.6
No. Observations:                 458   AIC:                             2131.
Df Residuals:                     451   BIC:                             2160.
Df Model:                           6
Covariance Type:            nonrobust
=============================================================================================
                                coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------
const                     -1592.9313     95.067    -16.756      0.000   -1779.760   -1406.103
year                          0.8095      0.047     17.109      0.000       0.717       0.903
White                         0.0750      0.012      6.491      0.000       0.052       0.098
Black or African American     0.1311      0.015      8.847      0.000       0.102       0.160
median_income                -0.1017      0.014     -7.162      0.000      -0.130      -0.074
% educated                   -0.1124      0.020     -5.503      0.000      -0.153      -0.072
modified_wage                -0.7261      0.098     -7.387      0.000      -0.919      -0.533
==============================================================================
Omnibus:                        8.406   Durbin-Watson:                   1.366
Prob(Omnibus):                  0.015   Jarque-Bera (JB):                8.461
Skew:                          -0.332   Prob(JB):                       0.0145
Kurtosis:                       3.049   Cond. No.                     1.67e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.67e+06. This might indicate that there are
strong multicollinearity or other numerical problems.