In [ ]:
import pandas as pd
import numpy as np

from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys

In [ ]:
def getData(date,year):

    url = "https://fred.stlouisfed.org/release/tables?rid=249&eid=259515&od=" + date

    driver = webdriver.Safari(executable_path = '/usr/bin/safaridriver')

    driver.get(url)

    t = driver.find_element(By.ID,"release-elements-tree")

    tbody = t.find_element(By.TAG_NAME,"tbody")

    rows = tbody.find_elements(By.TAG_NAME,"tr")

    states = []
    median_income = []
    cyear = []

    for i in rows:
        states.append(i.find_elements(By.TAG_NAME,"td")[1].find_element(By.TAG_NAME,"a").text)
        median_income.append(i.find_elements(By.TAG_NAME,"td")[2].text)
        cyear.append(year)

    driver.close()

    df = pd.DataFrame({'year':cyear,'state':states,'median_income':median_income},columns=['year','state','median_income'])

    return df

In [ ]:
data = pd.DataFrame(columns=['year','state','median_income'])

for i in range(2003,2022):
    date = str(i) + "-01-01"
    data = pd.concat([data,getData(date,str(i))])

data.head()

   year              state                       median_income
0  2003  The United States  \n              63,967\n
1  2003            Alabama  \n              55,014\n
2  2003             Alaska  \n              76,547\n
3  2003            Arizona  \n              60,789\n
4  2003           Arkansas  \n              47,257\n

In [ ]:
data.to_csv("median_income.csv")